<form action="/get_predict" method="GET">
    <label for="num_bedroom">num_bedroom:</label>
    <input type="text" id="num_bedroom" name="num_bedroom"><br><br>
    <label for="num_toilet">num_toilet:</label>
    <input type="text" id="num_toilet" name="num_toilet"><br><br>
    <label for="size">size:</label>
    <input type="text" id="size" name="size"><br><br>
    <label for="direction">direction:</label>
    <input type="text" id="direction" name="direction"><br><br>
    <label for="address_geo_location">address_geo_location:</label>
    <input type="text" id="address_geo_location" name="address_geo_location"><br><br>
    <label for="address_geo_lat">address_geo_lat:</label>
    <input type="text" id="address_geo_lat" name="address_geo_lat"><br><br>
    <label for="address_geo_long">address_geo_long:</label>
    <input type="text" id="address_geo_long" name="address_geo_long"><br><br>
    <label for="balcony_direction">balcony_direction:</label>
    <input type="text" id="balcony_direction" name="balcony_direction"><br><br>
    <input type="submit" value="Submit">
</form> 